@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 235 30% 20%;
    --card: 231 60% 94%;
    --card-foreground: 235 30% 20%;
    --popover: 231 60% 94%;
    --popover-foreground: 235 30% 20%;
    --primary: 235 63% 29%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 60% 88%;
    --secondary-foreground: 235 63% 29%;
    --muted: 231 60% 88%;
    --muted-foreground: 235 30% 40%;
    --accent: 283 69% 37%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 60% 80%;
    --input: 231 60% 80%;
    --ring: 235 63% 29%;
    --chart-1: 235 63% 29%;
    --chart-2: 283 69% 37%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 235 30% 12%;
    --foreground: 231 60% 94%;
    --card: 235 30% 12%;
    --card-foreground: 231 60% 94%;
    --popover: 235 30% 12%;
    --popover-foreground: 231 60% 94%;
    --primary: 235 70% 70%;
    --primary-foreground: 235 30% 12%;
    --secondary: 235 30% 20%;
    --secondary-foreground: 231 60% 94%;
    --muted: 235 30% 20%;
    --muted-foreground: 231 60% 70%;
    --accent: 283 70% 65%;
    --accent-foreground: 235 30% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 30% 25%;
    --input: 235 30% 25%;
    --ring: 235 70% 70%;
    --chart-1: 235 70% 70%;
    --chart-2: 283 70% 65%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Remove arrows from number inputs */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Nordpass/Autofill override */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border-color: hsl(var(--input));
    -webkit-text-fill-color: hsl(var(--foreground));
    -webkit-box-shadow: 0 0 0px 1000px hsl(var(--background)) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
